.checkout-form {
  display: flex;
  flex-direction: column;
  height: calc(100% - 113.19px);
  justify-content: space-between;
  padding-bottom: 60px;
}
.checkout-form h2 {
  font-size: 20px;
  font-weight: 500;
}
.checkout-form .custom-input {
  width: 100%;
  margin-bottom: 15px;
}

/* Details page */
.checkout-form .contact {
  margin-bottom: 50px;
}
.shipping-address .customer-name {
  display: flex;
  gap: 15px;
}
.shipping-address .city-info {
  display: flex;
  gap: 15px;
}
.shipping-address .check-box {
  font-size: 14px;
  font-weight: 400;
  color: var(--black-color);
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin-bottom: 50px;
}
.shipping-address .check-box > input[type="checkbox"] {
  width: 1.15em;
  height: 1.15em;
  margin: 0;
}

/* Shipping page */
.shipping {
}
.shipping .content,
.payment .content,
.billing-address .content {
  border: 1.5px solid rgb(86 178 128 / 20%);
  border-radius: 7px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.shipping .content .content-info,
.payment .content .content-info,
.billing-address .content .content-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.shipping .content .content-info.first-content,
.payment .content .content-info.first-content,
.billing-address .content .content-info.first-content {
  border-bottom: 1.5px solid rgb(86 178 128 / 20%);
  padding-bottom: 10px;
}
.shipping .content .content-info.last-content,
.payment .content .content-info.last-content,
.billing-address .content .content-info.last-content {
  padding-top: 10px;
}
.shipping .content .content-info span,
.payment .content .content-info span {
  margin-right: 10px;
  color: #818181;
}
.shipping .content .content-info p,
.payment .content .content-info p {
  color: var(--black-color);
}
.shipping .content .content-info .edit-btn,
.payment .content .content-info .edit-btn {
  font-size: 14px;
}
.shipping .content .content-info .radio-btn, 
.billing-address .content .content-info .radio-btn {
  color: var(--black-color);
  display: grid;
  grid-template-columns: 3em auto;
  gap: 0.5em;
}

/* Payment page */
.credit-card {
  border: 1.5px solid rgb(86 178 128 / 20%);
  border-radius: 10px;
}
.credit-card .credit-card-head {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background-color: rgb(86 178 128 / 20%);
  color: var(--green-color);
  padding: 10px 25px;
}
.credit-card .credit-card-head .card-icon {
  font-size: 30px;
}
.credit-card .credit-card-head p {
  font-size: 16px;
  font-weight: bold;
}
.credit-card .credit-card-form {
  padding: 27px 25px;
}
.credit-card .credit-card-form .card-number {
  position: relative;
}
.credit-card .credit-card-form .card-number .lock-icon {
  position: absolute;
  top: 10px;
  right: 22px;
  color: #616161;
  width: 18px;
  height: 18px;
}
.credit-card .credit-card-form .date-cvv {
  display: flex;
  gap: 15px;
  position: relative;
}
.credit-card .credit-card-form .date-cvv .circleinfo-icon {
  position: absolute;
  top: 10px;
  right: 22px;
  color: #616161;
  width: 18px;
  height: 18px;
}
