.checkout {
    display: flex;
}
.checkout .left-half {
    width: 50%;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}
.checkout .right-half {
    width: 50%;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F2F2F2;
}

