.confirmed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 61px;
}
.confirmed .check-icon {
    width: 100px;
    height: 100px;
    color: rgb(86 178 128 / 60%);;
}
.confirmed h2 {
    font-size: 26px;
    font-weight: 500;
}
.confirmed .order-id {
    font-size: 14px;
    font-weight: 400;
    color: var(--green-color);
}
.confirmed .order-msg {
    color: #818181;
    font-size: 14px;
}
.confirmed .back-to-shopping-btn {
    margin-top: 30px;
    font-size: 20.65px;
    font-weight: 500;
    width: 248px;
    height: 40px;
}
.confirmed .print-receipt {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
}