.checkout-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
.checkout-footer .checkout-btn {
  padding: 10px 40px;
}

@media (max-width: 767px) {
  .checkout-footer {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .checkout-footer .checkout-btn {
    width: 100%;
  }
}
