.cart .container .cart-footer {
    width: 100%;
    display: flex;
    justify-content: end;
    /* align-items: baseline; */
}
.cart .container .cart-footer .subtotal-tax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 60px;
}
.cart .container .cart-footer .subtotal-tax .subtotal {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
}
.cart .container .cart-footer .subtotal-tax .subtotal span {
    margin-left: 40px;
}
.cart .container .cart-footer .subtotal-tax .tax {
    font-size: 16px;
    font-weight: 400;
    color: #9E9E9E;
    margin: 0;
}
.cart .container .cart-footer .cart-footer-btn {
    width: 183px;
    height: 40px;
}