.header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  height: var(--header-height);
}
.header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.header .container .logo {
  display: flex;
  align-items: center;
}
.header .container .toggle-menu {
  display: none;
}
@media (max-width: 767px) {
  .header .container .toggle-menu {
    display: block;
    width: 25px;
    height: 25px;
  }
}
.header .container .logo a {
  margin-right: 15px;
}
.header .container .logo h2 {
  color: var(--green-color);
  font-weight: normal;
  font-size: 22px;
}
.header .container .logo img {
  width: 33.61px;
  height: 33.61px;
}
.header .container .navlinks ul {
  display: flex;
  font-size: 16px;
  font-weight: 500;
}
.header .container .navlinks ul li {
  margin-right: 30px;
}
.header .container .navlinks a {
  color: var(--black-color);
}
@media (max-width: 767px) {
  .header .container .navlinks {
    display: none;
  }
}
.header .container .icons svg {
  margin-right: 15px;
  width: 23px;
  height: 23px;
}
@media (max-width: 767px) {
  .header .container .icons {
    display: flex;
  }
  .header .container .icons svg:last-child {
    margin-right: 0;
  }
}
