.footer {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--black-color);
  color: white;
}
@media (max-width: 767px) {
  .footer {
    padding-top: var(--mobile-padding-top);
    padding-bottom: var(--mobile-padding-bottom);
  }
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}
.footer .container::before {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: var(--white-color);
  top: -20px;
  left: 15px;
}
@media (max-width: 767px) {
  .footer .container {
    flex-direction: column;
  }
}
.footer .container .logo-side {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer .container .logo-side .logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .container .logo-side .logo img {
  margin-right: 10px;
}
.footer .container .logo-side .logo h2 {
  font-size: 25px;
}
.footer .container .logo-side p {
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .footer .container .logo-side {
    width: 100%;
    line-height: 1.5;
  }
}
.footer .container .options {
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .footer .container .options {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
    gap: 20px;
  }
  .footer .container .options .discovery {
    order: 1;
  }
  .footer .container .options .about {
    order: 3;
  }
  .footer .container .options .info {
    order: 2;
  }
}
/* .footer .container .options ul li:first-child {
  color: var(--green-color);
} */
.footer .container .options ul li {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
}

.footer .container .options a {
  color: white;
}

.footer .container .options .green-link {
  color: var(--green-color);
}

.rights {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E5E5E5;
  color: #5E6E89;
  height: var(--header-height);
}
.rights span {
  font-weight: bold;
}
@media (max-width: 767px) {
  .rights .designed {
    display: none;
  }
}