.products {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.products .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.products .container .prod-card {
  /* transition: var(--main-transition); */
}
.products .container .prod-card:hover {
  /* margin-top: -10px;
    margin-bottom: -10px; */
  animation: push-up 1s ease-out forwards;
}
.products .container .see-more-btn {
  display: none;
}
@media (max-width: 767px) {
  .products .container .see-more-btn {
    display: block;
    font-size: 20.65px;
    font-weight: 500;
    width: 176px;
    height: 40px;
    margin: 30px auto 0; /*top left-right bottom*/
  }
}
@keyframes push-up {
  0% {
    transform: translateY(0deg);
  }
  50% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}
