.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: rgb(86 178 128 / 10%);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  /* display: flex;
    justify-content: space-evenly; */
}
.testimonials .card {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  width: 350px;
  height: 322px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 15px;
}
.testimonials .card img {
  max-width: 84px;
  border-radius: 50%;
}
.testimonials .card h2 {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
}
.testimonials .card p {
  margin-top: 0;
  font-size: 18px;
  font-weight: 400;
  color: #7c8087;
}
